// Typography
$font-primary: 'franklin-gothic-atf', sans-serif;
$font-secondary: 'komu-b', sans-serif;

// Colors
$color-primary: #3b1d56;
$color-secondary: #a67bf9;

// Bootstrap
//
// Grid breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 1025px,
	xl: 1366px
);

// Grid containers
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
);

// Spacing
$spacer: 3rem;
